.layout-page {
	border: 1px solid var(--semi-color-border);
	height: 100%;
	.layout-content {
		padding: 24px 24px 74px 24px;
		background-color: #f0f2f5;
	}
	.layout-header {
		background-color: var(--semi-color-bg-1);
	}
}
