html,
body,
#root,
#root > * {
	height: 100%;
	margin: 0;
	color: rgba(0, 0, 0, 0.65) !important;
	--semi-color-primary: rgba(var(--semi-purple-7), 1);
	--semi-color-primary-hover: rgba(var(--semi-purple-3), 1);
	--semi-color-primary-light-default: rgba(var(--semi-purple-0), 1);
}
