.workbeach-container {
	margin: -24px -24px 0px;
	.workbeach-container-header {
		box-sizing: border-box;
		margin: 0;
		color: rgba(0, 0, 0, 0.85);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5715;
		list-style: none;
		font-feature-settings: 'tnum', 'tnum';
		position: relative;
		background-color: #fff;
		padding: 16px 24px;
		.workbeach-container-header-title {
			margin-right: 12px;
			margin-bottom: 0;
			color: rgba(0, 0, 0, 0.85);
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.workbeach-container-header-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.workbeach-container-header-content-left {
				margin-top: 15px;
				display: flex;
				justify-content: start;
				align-items: center;
				.workbeach-container-header-content-left-user {
					padding-left: 20px;
					color: rgba(0, 0, 0, 0.45);
					.workbeach-container-header-content-left-username {
						margin-bottom: 12px;
						color: rgba(0, 0, 0, 0.85);
						font-weight: 500;
						font-size: 20px;
						line-height: 28px;
					}
				}
			}
		}
	}
	.workbeach-container-content {
		margin: 24px 24px 0;
		.workbeach-container-content-left1 {
			width: 100%;
			.workbeach-container-content-left1-card {
				> :last-child {
					padding: 0;
					.semi-space {
						width: 100%;
					}
				}
				.workbeach-container-content-left1-card-item {
					width: 33.33%;
					height: 100%;
					.workbeach-container-content-left1-card-item-footer {
						display: flex;
						justify-content: space-between;
						align-items: center;
						color: rgba(0, 0, 0, 0.45);
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
		}
		.workbeach-container-content-left2 {
			margin-top: 20px;
			.workbeach-container-content-left2-content {
				padding-bottom: 10px;
				.workbeach-container-content-left2-content-user {
					color: rgba(0, 0, 0, 0.85);
					font-size: 14px;
					line-height: 1.5715;
					font-weight: 500;
				}
				.workbeach-container-content-left2-content-link {
					color: #1890ff;
					text-decoration: none;
					background-color: transparent;
					outline: none;
					cursor: pointer;
					transition: color 0.3s;
				}
			}
		}
	}
}
